// desctop__global //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: "Public Sans";
  font-style: normal;
  background-color: #ffff;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
// tablet__global //
// phone__global //
