.footer {
  margin-top: 150px;
  margin-bottom: 100px;
  &__box {
    display: flex;
  }
  &__list-box {
    display: flex;
  }
  &__list {
    width: 310px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  &__list-strong {
    margin-bottom: 16px;
    font-family: Roboto, sans-serif;
    color: #1f1f26;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
  &__item {
    margin-bottom: 16px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: block;
    color: #4d4e59;
    text-decoration: none;
  }
  &__dowload-title {
    margin-bottom: 16px;
    font-family: Roboto, sans-serif;
    color: #1f1f26;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
  &__dowload-apps {
    display: flex;
    column-gap: 20px;
  }
  &__dowload-name {
    margin-left: 5px;
    font-size: 14px;
    font-family: Inter, sans-serif;
    line-height: 1.2em;
  }
  &__dowload-app {
    display: flex;
    align-items: center;
  }
  &__flex {
    display: flex;
    flex-direction: column;
  }
  &__media {
    margin-top: 50px;
  }
  &__media-title {
    margin-bottom: 16px;
    font-family: Inter, sans-serif;
    color: #141415;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 0;
  }
}
